*{
    margin: 0;
    padding:0;
    /* background-color: black; */
    scroll-behavior: smooth;
}

/* Azul metálico pros ícones, pro fundo do textoP e pro  */

body{
    /* background-size: cover; */
    background-image: linear-gradient(to bottom, #032525, #000000);
}

#svtao{
    background-image: url(./Sorvetes\ 1.jpeg);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size:cover;
    background-attachment:fixed;
    border-radius: 50px;
}

#teste{
    position: sticky;
    top: 10px;
}

/* header{
    width: 100%;
    text-align: right;
    border-radius: 10px;
    overflow:hidden;
    position: relative;
    height: fit-content;
    display: block;
    text-align: center;
} */

a{
    text-decoration: none;
    color: #C4A812;
}

#menulist{
    position: sticky;
    top: 0px;
    text-align: right;
    max-width: fit-content;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
    font-size:1.5vw;
    transform: translateZ(10px);
}

.menu-options{
    list-style-type: none;
    display: inline-block;
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
    background-image: linear-gradient(to top right, #105C5C, #068687, #115A5B);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-options:hover{
    background-image: linear-gradient(to bottom right, #012525, #044c4c, #012525);
    cursor: pointer;
    transform: scale(1.05,1.05);
}

#logo1{
    border-radius: 50%;
    max-width: 15%;
    min-width: 90px;
    /* display: inline-block; */
    float: left;
    margin-left: 10%;
    margin-top: 3%;    
}

#container1{
    /* padding-top: 20%; */
    height: 100%;
    padding-bottom: 30px ;
    text-align: center;
    overflow: visible;
}

#textoP{
    height: fit-content;
    background-image: linear-gradient(to top right, rgba(16, 92, 92, 0.7), rgba(6, 134, 135, 0.7), rgb(17, 90, 91, 0.7));
    padding: 10px;
    border-radius: 10px;
    font-size: 1.7vw;
    margin-left: 10%;
    margin-right: 40px;
    margin-top: 5% ;
    width: 40%;
    clear: both;
    float: left;
    overflow: visible;
    text-align: justify;
}

.hambP{
    width: 30%;
    float: right;
    margin-right: 5%;
    margin-bottom: 5%;
}

#hamb1{
    width: 100%;
    border-radius: 50%;
}



#quemsomos, #container3, #container4{
    /* background-image: linear-gradient(to top right, rgba(16, 92, 92, 0.8), rgba(6, 134, 135, 0.8), rgb(17, 90, 91, 0.8)); */
    background-image: linear-gradient(to bottom, rgba(1, 37, 37, 0.8), rgba(4, 76, 76, 0.8), rgba(1, 37, 37, 0.8));
    display: block;
    height: fit-content;
    box-sizing: border-box;
    padding: 20px 0 20px 0;
    margin: 2%;
    border-radius: 20px;
    color: #C4A812;
    clear: both;
}

.texto2{
    padding-top:15px;
}

/* #logo2b{
    display: inline-block;
    width: 20%;
    margin-left: 8%;
} */

.topics{
    width:20%;
    margin-left: 8%;
    border-radius: 50%;
    border:2px solid white;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 8%;
}

#logo2, #logo3, #logo4{
    width:20%;
    margin-left: 8%;
    border-radius: 50%;
    border:2px solid white;
    box-sizing: border-box;
    margin-bottom: 8%;
    transform: translateY(5%);
}

#qstext{
    max-width: 40%;
    display: inline-block;
    margin-left: 50px;
    text-align: justify;    
    font-size: 1.3vw;
    margin-right: 10%;
}

/* #container3{
    background-image: linear-gradient(to bottom, rgba(1, 37, 37, 0.8), rgba(4, 76, 76, 0.8), rgba(1, 37, 37, 0.8));
    display: block;
    height: fit-content;
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 2%;
    border-radius: 20px;
    color: #C4A812;
    clear: both;
} */

/* #logo3{
    width:20%;
    display: inline;
    border-radius: 50%;
    margin-left: 8%;
} */

#logo3:hover{
    transform: scale(1.1,1.1);
}

#logoside3{
    max-width: 40%;
    display: inline-block;
    margin-left: 50px;
    text-align: justify;    
    font-size: 1.3vw;
    margin-right: 10%;
}

.texto3{
    padding-top:15px;
}

/* #container4{
    background-image: linear-gradient(to top right, rgba(16, 92, 92, 0.8), rgba(6, 134, 135, 0.8), rgb(17, 90, 91, 0.8));
    display: block;
    height: fit-content;
    padding: 20px 0 20px 0;
    margin: 2%;
    border-radius: 20px;
    color: #C4A812;
    clear: both;
} */

/* #logo4{
    width:20%;
    border-radius: 50%;
    margin-left: 8%;
} */

#logo4:hover{
    transform: rotate(20deg)
}

#logoside4{
    max-width: 40%;
    display: inline-block;
    margin-left: 50px;
    text-align: justify;    
    font-size: 1.3vw;
    margin-right: 10%;
}

.texto4{
    padding-top:15px;
}
