@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    display: flex;
    flex-direction: column;
    /* color: white; */
    /* background-color: black; */
    background-image: url("../assets/fundo_teste3.png");
    background-size: contain;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

a, a:active{
    text-decoration: none;
    color: black;
}

header{
    /* background-image: url("../assets/fundo_teste3.png");
    background-size: contain; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    /* position: relative; */
}

.headline_container{
    display: flex;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.headline_h1{
    font-size: 2em;
    padding: 0 15px 0 15px;
    margin: 10px 0 10px 0;
    color: white;
}

.main_image_container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-image: url(../assets/hamburguer_milkshake.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vw;
}

.main_image{
    width: 100%;
    border-radius: 50%;
}

.main_image_text{
    display: flex;
    text-align: center;
    color: black;
    width: 90%;
    margin-top: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50px;
    box-sizing: border-box;
}

.main_image_h2{
    font-size: 1.8em;
    padding: 0 10px 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.capital{
    color: rgb(255, 0, 0);
}

.headline_especial{
    color: rgba(255, 0, 0);
}

.garantees_container{
    padding: 10px;
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(../assets/milkshake_oreo.png); */
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    box-sizing: border-box;
}

.garantees_boxes{
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 2vw;
    border-radius: 20px;
    padding: 5px;
}

.garantees_text_box{
    width: 80%;
}

.garantees_texts{
    font-weight: 800;
    font-size: 1.2em;
    margin: 0;
    padding: 5px;
}

.garantees_title{
    font-size: 1.5em;
}

.garantees_paragraph{
    font-weight: 600;
}

.garantees_image_box{
    width: 20%;
    display: flex;
}

.garantees_image{
    width: 100%;
    align-self: flex-start;
}

.flavours_box{
    /* background-color: black; */
    /* background-image: url(../assets/fundo_sabores_teste.jpg); */
    background-size: cover;
    display: flex;  
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.nutella, .oreo, .bacon{
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 25px;
}

.flavours_title{
    font-size: 2.2em;
    margin: 25px 20px 20px 20px;
    text-decoration:underline;
}

.flavours_h2{
    color: black;
    font-size: 5vw;
    background-color: rgb(255, 153, 0);
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
}

.flavours_images_boxes{
    width: 60%;
}

.flavours_images{
    width: 100%;
    border-radius: 50%;
    border: 3px solid orange;
}

.feedback_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    box-sizing: border-box;
    border: 0.5px solid gray;
}

.feedback_h2{
    color: gray;
    transform: rotateZ(-90deg);
}

.cta1_container{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.cta1_text_box{
    width: 80%;
    text-align: center;
}

.cta1_h2{
    font-size: 2.2em;
    margin: 0;
}

.cta1{
    width: 70%;
    text-align: center;
    margin: 20px 0;
}

.cta1_indeed{
    margin: 0;
    font-size: 1.5em;
    background-color: red;
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
}

.cta1_boxes{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.cta1_images_boxes{
    width: 30%;
}

.cta1_images{
    width: 100%;
    border-radius: 50%;
    border: 3px solid orange;
}

.faq_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    /* background-color: white; */
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    padding: 30px 0;
}

.faq_title{
    font-size: 3.5em;
    color: white;
    text-align: center;
    margin: 0;
}

.faq_subtitle{
    color: white;
    text-align: center;
    font-size: 1.2em;
}

.faq_boxes{
    margin-top: 20px;
    background-color: #115A5B;
    width: 80%;
    /* padding: 20px; */
    box-sizing: border-box;
    border-radius: 30px;
}

.faq_question_holder_box{
    width: 100%;
    display: flex;
    background-color: orange;
    border-radius: 20px;
    box-sizing: border-box;
}

.faq_question_holder{
    /* background-color: orange; */
    padding: 10px 0 10px 20px;
    margin: 0;
    width: 92%;
}

.question_images{
    align-self: center;
    width: 8%;
    height:fit-content;
    /* background-color: orange; */
}

.questions{
    padding: 0 20px;
    /* text-align: justify; */
    display: none;
    font-weight: 500;
}

.enfase{
    font-weight: 700;
}

footer{
    display: flex;
    background-color: rgb(29, 29, 29);
    width: 100%;
    padding-bottom: 50px;
    color: #097979;
    font-size: 3vw;
}

.footer_logo_container{
    width: 20%;
    padding: 10px 0 0 10px;
}

.footer_logo{
    border-radius: 50%;
    width: 100%;
    height:fit-content; 
}

.footer_content{
    width: 25%;
    display: flex;
    font-size: 1em;
    align-items: center;
    padding-left: 10px;
}

.footer_follow{
    display: flex;
    flex-direction: column;
}

.follow_us{
    height: fit-content;
    margin:0;
}

.social_icons{
    display: flex;
}

.social_medias{
    /* border-radius:50%; */
    width: 20%;
    height: fit-content;
}

.social_media_images{
    width: 100%;
    border-radius:50%;
}








.contato{
    display: flex;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.contato:hover{
    transform: scale(1.1, 1.1);
}
